.app {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
}

textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
}

textarea[type=text] {
  font-size: 24px;
}

button {
  font-size: 24px;
}
